.address_listing .addressWrpr{
      width: 32%;
      margin-left: 1%;
      padding: 10px;
      min-height: 275px;  
}
.address_container{
      height: 80%;
}
.address_btn_container{
      height: 20%;
      display:'flex';
      justify-content:'flex-start'
}