.address_listing .addressWrpr{
      width: 32%;
      margin-left: 1%;
      padding: 10px;
      min-height: 200px;  
}
.address_container{
      min-height: 200px;
      padding-bottom: 5px;
}
.address_btn_container{
      display:flex;
      justify-content:space-around;
      flex-direction: row;
      width:80%;
      margin: 0 auto;
}
.address_btn_container .click_transparent{
      cursor:pointer;
}

.address_btn_container .click_transparent:hover{
      color:#cf2717
}
.header_text{
      color:#666;
      font-size: 20px;
}
.add_form{
      padding: 10px
}
