.footer_links_wrpr{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 10px 0;
}
.footer_links_right{
    width:20%;
    border: 1px solid #d4d4d4;
    border-width: 0px 1px 0 0;
    
}
.footer_links_left{
    width:80%;
    display: flex;
    flex-direction: row;
    padding: 0 10px;
}
.footer_link_bold{
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 10px;
    cursor: pointer;
    color: #333;
}
.footer_link{
    font-size: 12px;
    color: #d4d4d4;
    cursor: pointer;
    padding: 2px 0;
}
.footer_col-1{
    width: 20%;
}
.footer_col-2{
    width:30%;
}
.footer_link_desc{
    padding:10px 0;
   
}
.footer_link_desc_wrpr{
    border: 1px solid #d4d4d4;
    border-width: 1px 0;
}
.footer_link_desc .footer_link_bold{
    margin-bottom: 5px;
}
