.table thead th, .table td, .table th {
    border: 0px transparent !important;
}

.table-fixed thead {
    width: 97%;
}

.table-fixed tbody {
    /* height: 300px;
    overflow-y: scroll; */
    width: 100%;
}

.table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
    display: block;
}

.table-fixed tbody td, .table-fixed thead>tr>th {
    font-weight: 400 !important;
    border-bottom-width: 0;
}

.checkout_card {
    border: 1px solid #d4d4d4 !important;
    border-radius: 0 !important;
}

.card_header_wrpr {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: #f7f7f7
}

.card_number {
    width: 25px;
    align-items: center;
    justify-content: center;
    height: 100%
}

.change_btn {
    background-color: transparent;
    border: 1px solid #cf2717;
    color: #cf2717;
    padding: 0px 10px;
    margin: auto 0;
    border-radius: 5px;
}

.bread_crum_red:nth-last-child(1){
    color: #cf2717 !important;
}

.minicart{

    background-color: white;
    width: 40%;
    position: absolute;
    right: 0px;
    z-index: 1;
    overflow-x: hidden;
    top: 100%;
}

.empty-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
    margin: auto;
    height: 200px;
}

.mini_cart_btn{
    width: 100%;
    background-color: rgb(207, 54, 51);
    color: white;
    border: 1px;
    margin-top: 50px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.minicart_table_body{
    max-height: 200px;
    overflow-y: scroll;
}
.mini_add{
    height: 30px;
    width: 30px;
    align-content: center;
    background-color: rgb(207, 33, 39);
    border: 1px solid rgb(207, 39, 23);
}
.mini_value{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(207, 39, 23);
}
.mini_add_data{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
}
.mini_value_data{
    color: rgb(207, 33, 39);
}
.mini_cart_footer{
    font-size: 16px;
    cursor: pointer
}
@media only screen and (max-width:480px) {
.minicart {
    background-color: white;
    width: 100%;
    position: absolute;
    right: 0px;
    z-index: 1;
    overflow-x: hidden;
    top: 100%;
}
.minicart_table_body td{
    text-align: center
}
.minicart_table_head{
    text-align: center;
}
.mini_add{
    height: 20px;
    width:20px
}
.mini_cart_btn{
    margin-top: 35px;
    height: 35px;
}

}